.logincont {
  background-image: url("../../public/img/Maskgroup.svg");
  background-color: #fff;
}
div {
  color: var(--Rich-Ground-Green, #007460);
  text-align: center;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
}
.dis {
  color: var(--Best-Black, #070706);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
